---
- name: Configure Cisco Routers
  hosts: routers
  gather_facts: no
  connection: network_cli

  tasks:
    - name: Ensure router-id is configured
      cisco.ios.ios_config:
        lines:
          - router-id {{ router_id }}
        parents: router ospf 1
      when: router_id is defined

    - name: Configure BGP
      cisco.ios.ios_config:
        lines:
          - bgp log-neighbor-changes
          - neighbor {{ item.neighbor_ip }} remote-as {{ item.remote_as }}
        parents: router bgp {{ local_as }}
      loop: "{{ bgp_neighbors }}"
      when: bgp_neighbors is defined

    - name: Redistribute OSPF into BGP
      cisco.ios.ios_config:
        lines:
          - redistribute ospf 1
        parents: router bgp {{ local_as }}

    - name: Configure OSPF interfaces
      cisco.ios.ios_config:
        lines:
          - ip ospf 1 area 0
        parents: interface {{ item.interface_name }}
      loop: "{{ ospf_interfaces }}"
      when: ospf_interfaces is defined

    - name: Redistribute BGP into OSPF
      cisco.ios.ios_config:
        lines:
          - redistribute bgp {{ local_as }} subnets
        parents: router ospf 1

    - name: Configure IP addresses on interfaces
      cisco.ios.ios_config:
        lines:
          - ip address {{ item.ip_address }} {{ item.subnet_mask }}
          - no shutdown
        parents: interface {{ item.interface_name }}
      loop: "{{ interfaces }}"
      when: interfaces is defined
